
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Shopify: enviando código de rastreamento dos Correios</title>
    <meta name="description" content="">

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../favicon.ico">

    <link rel="stylesheet" type="text/css" href="../assets/css/screen.css?v=2482422a3e">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic%7COpen+Sans:700,400">

    <link rel="canonical" href="http://luizfaias.com/shopify-enviando-codigo-de-rastreamento-dos-correios/">
    
    <meta property="og:site_name" content="Luiz Faias">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Shopify: enviando código de rastreamento dos Correios">
    <meta property="og:description" content="Estou usando o Shopify para a loja virtual de materiais para bordado da Tati e hoje tive a necessidade de enviar às clientes o código de rastreamento dos Correios (para quando estivermos no Brasil). Como não há uma integração pronta,...">
    <meta property="og:url" content="http://luizfaias.com/shopify-enviando-codigo-de-rastreamento-dos-correios/">
    <meta property="article:published_time" content="2015-05-16T00:20:39.122Z">
    <meta property="article:modified_time" content="2015-05-16T00:22:59.464Z">
    <meta property="article:tag" content="tecnologia">
    <meta property="article:tag" content="ecommerce">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Shopify: enviando código de rastreamento dos Correios">
    <meta name="twitter:description" content="Estou usando o Shopify para a loja virtual de materiais para bordado da Tati e hoje tive a necessidade de enviar às clientes o código de rastreamento dos Correios (para quando estivermos no Brasil). Como não há uma integração pronta,...">
    <meta name="twitter:url" content="http://luizfaias.com/shopify-enviando-codigo-de-rastreamento-dos-correios/">
    
    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Article",
    "publisher": "Luiz Faias",
    "author": {
        "@type": "Person",
        "name": "Luiz Faias",
        "image": "//www.gravatar.com/avatar/9f244e529d75a4472f1dc276fefbe0b7?d=404&s=250",
        "url": "http://luizfaias.com/author/junior",
        "sameAs": null,
        "description": null
    },
    "headline": "Shopify: enviando código de rastreamento dos Correios",
    "url": "http://luizfaias.com/shopify-enviando-codigo-de-rastreamento-dos-correios/",
    "datePublished": "2015-05-16T00:20:39.122Z",
    "dateModified": "2015-05-16T00:22:59.464Z",
    "keywords": "tecnologia, ecommerce",
    "description": "Estou usando o Shopify para a loja virtual de materiais para bordado da Tati e hoje tive a necessidade de enviar às clientes o código de rastreamento dos Correios (para quando estivermos no Brasil). Como não há uma integração pronta,..."
}
    </script>

    <meta name="generator" content="Ghost 0.6">
    <link rel="alternate" type="application/rss+xml" title="Luiz Faias" href="http://luizfaias.com/rss/index.rss">
</head>
<body class="post-template tag-tecnologia tag-ecommerce">

    


<header class="main-header post-head no-cover">
    <nav class="main-nav  clearfix">
        <a class="back-button icon-arrow-left" href="http://luizfaias.com">Home</a>
        <a class="subscribe-button icon-feed" href="http://luizfaias.com/rss/index.rss" title="Receba novos artigos por email">Inscreva-se</a>
    </nav>
</header>

<main class="content" role="main">

    <article class="post tag-tecnologia tag-ecommerce">

        <header class="post-header">
            <h1 class="post-title">Shopify: enviando código de rastreamento dos Correios</h1>
            <section class="post-meta">
                <time class="post-date" datetime="2015-05-15">15 Maio 2015</time>  em <a href="../tag/tecnologia/">tecnologia</a>, <a href="../tag/ecommerce/">ecommerce</a>
            </section>
        </header>

        <section class="post-content">
            <p><img src="http://res.cloudinary.com/luizfaias-com/image/upload/c_scale,w_500/v1431735232/shopify_correios_fxtrt0.png" alt="Shopify + Correios"></p>

<p>Estou usando o <a href="https://www.shopify.com/?ref=luizfaias">Shopify</a> para a <a href="http://tatifaias.com">loja virtual de materiais para bordado da Tati</a> e hoje tive a necessidade de enviar às clientes o código de rastreamento dos Correios (para quando estivermos no Brasil).</p>

<p>Como não há uma integração pronta, personalizei o email de confirmação de pedidos de acordo com as informações deste artigo: <a href="https://docs.shopify.com/support/settings/shipping/why-is-my-shipping-provider-not-listed-when-i-fulfill-an-order">https://docs.shopify.com/support/settings/shipping/why-is-my-shipping-provider-not-listed-when-i-fulfill-an-order</a></p>

<p>Segue o código abaixo. Espero que ajude ;)</p>

<pre><code>{% if fulfillment.tracking_numbers.size &gt; 0 %}
  &lt;p&gt;Aqui está o código de rastreamento:
  &lt;b&gt;{{ fulfillment.tracking_numbers.first }}&lt;/b&gt;.

  {% if fulfillment.tracking_company and fulfillment.tracking_company != 'Other' %}
    &lt;a href="{{ fulfillment.tracking_urls.first }}"&gt;Para acompanhar o andamento da entrega, clique aqui.&lt;/a&gt;
  {% else %}
    &lt;a href="http://websro.correios.com.br/sro_bin/txect01$.QueryList?P_LINGUA=001&amp;P_COD_UNI={{ fulfillment.tracking_numbers.first }}"&gt;Para acompanhar o andamento da entrega, clique aqui.&lt;/a&gt;
  {% endif %}

  &lt;/p&gt;
{% endif %}
</code></pre>
        </section>

        <footer class="post-footer">


            <figure class="author-image">
                <a class="img" href="../author/junior/" style="background-image: url(http://www.gravatar.com/avatar/9f244e529d75a4472f1dc276fefbe0b7?d=404&amp;s=250)"><span class="hidden">Luiz Faias's Picture</span></a>
            </figure>

            <section class="author">
                <h4><a href="../author/junior/">Luiz Faias</a></h4>

                    <p>Leia <a href="../author/junior/">meus outros artigos</a> </p>
                <div class="author-meta">
                    <span class="author-location icon-location">Indaiatuba - SP, Brasil</span>
                    
                </div>
            </section>


            <section class="share">
                <h4>Compartilhe!</h4>
                <a class="icon-twitter" href="https://twitter.com/share?text=Shopify%3A%20enviando%20c%C3%B3digo%20de%20rastreamento%20dos%20Correios&amp;url=http://luizfaias.com/shopify-enviando-codigo-de-rastreamento-dos-correios/" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://luizfaias.com/shopify-enviando-codigo-de-rastreamento-dos-correios/" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url=http://luizfaias.com/shopify-enviando-codigo-de-rastreamento-dos-correios/" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

        </footer>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'luizfaias';
            var disqus_identifier = '';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comentários fornecidos por <span class="logo-disqus">Disqus</span></a>
    </article>

</main>



    <footer class="site-footer clearfix">
         <section class="copyright"><a href="http://luizfaias.com">Luiz Faias</a> © 2015</section>
         <section class="poweredby">Publicado com <a href="https://ghost.org">Ghost</a></section>
    </footer>

    <script src="../public/jquery.js?v=2482422a3e"></script>

    <script type="text/javascript" src="../assets/js/jquery.fitvids.js?v=2482422a3e"></script>
    <script type="text/javascript" src="../assets/js/index.js?v=2482422a3e"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52779485-1', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');

    </script>
</body>
